body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    overflow-x: hidden;
}

header{
    background-color: white;
    border: solid 2px;
    height: auto;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to left, rgb(249, 134, 134), white);

    ul il{
        display: flexbox;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        align-content: space-between;
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 15px;
        font-size: larger;
        font-weight: light;
        color: red;
    }

    img{
        height: 103px;
        width: 137px;
        margin-top: 8px;
        padding: 23px;
        float: left;
    }

    h1{
        padding-top: 17px;
        line-height: 43px;
    }
}

span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color: white;
    -webkit-text-stroke: 2px black;
}

form{
    margin-left: 400px;
    padding-top: 28px;
    padding-left: 35px;
    padding-bottom: 20px;
    width: 580px;
    background: rgb(135,135,135);
    background: linear-gradient(0deg, rgb(206, 206, 206) 21%, rgba(204,9,9,1) 100%);
    border: solid 5px;
    border-radius: 1em;

    textarea{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        margin-left: 10px;
        margin-top: 20px;
        height: 200px;
        width: 460px;
        border: solid 3px;
        border-radius: 2px;
    }

    input{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        margin-bottom: 6px;
        border-radius: 2px;
        width: 155px;
    }

    label{
        font-size: 17px;
    }
}

article h2{
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.button{
    margin: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 15px;
}

footer{
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    border: solid 5px;
    border-color:  rgb(204, 126, 126);

    h3{
        font-size: 120%;
        padding-left: 10px;
        margin-bottom: 4px;
    }

    img{
        margin: 7px;
        height: 60px;
        width: 60px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    header{
        width: 100%;
    }
    
    textarea{
        width: 100%;
        height: auto;
    }
    section div{
        width: max-content;
    }
    ul il{
        font-size: 20%;
        font-weight: bold;
    }
    img{
        height: 90px;
        width: 112px;
    }
    footer{
        width: 100%;
    }
    article{
        width: 100%;
        height: auto;
        margin: 6px;
    }
}